:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
  }
  
  :host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }
  
    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
  }

.kb-row {
    background-color: rgba(213, 250, 3, 0.15) !important;
}
.kb-cell {
  background-color: rgba(213, 250, 3, 0.15) !important;
}
