// * Import theme from theme generator *//
@use '@angular/material' as mat;
@import "theme";

// PrimeNG styles
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@font-face {
    font-family: 'PrimeIcons';
    src: url('/assets/fonts/primeicons/primeicons.eot');
    src: url('/assets/fonts/primeicons/primeicons.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/primeicons/primeicons.woff2') format('woff2'),
         url('/assets/fonts/primeicons/primeicons.woff') format('woff'),
         url('/assets/fonts/primeicons/primeicons.ttf') format('truetype'),
         url('/assets/fonts/primeicons/primeicons.svg#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }

html {
    font-size: 12px;
}

// Global styles for PrimeNG components
.p-tooltip {
    max-width: 750px;
}

.p-treeTable {
    .p-treeTable-wrapper {
        overflow: auto;
    }
}

.p-dropdown {
    width: 100%;
}

.p-toolbar {
    padding: 0.5rem;
}

.tdLessPadding {
    td {
        padding: 1px 1px !important;
    }

    th {
        padding: 1px 1px !important;
    }

    tr {
        padding: 1px 1px !important;
    }
}

.cmctooltip {
    max-width: 750px;
}