// * Import theme from theme generator *//
@use '@angular/material' as mat;
@import "theme";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html {
    font-size: 12px;
}

.tdLessPadding {
    td {
      padding: 1px 1px !important;
    }

    th {
      padding: 1px 1px !important;
    }

    tr {
      padding: 1px 1px !important;
    }

  }

  ::ng-deep {
    .p-tooltip {
        max-width: 750px;
     }
} 

.cmctooltip {
  max-width: 750px;
}